Project Development Phase/Sprint 4/Node-Red Flows/Simulator Data.json
[{"id":"a0f4487eef764d99","type":"tab","label":"Simulator Data","disabled":false,"info":"","env":[]},{"id":"cbf0d9ddc0f3c6e9","type":"ibmiot in","z":"a0f4487eef764d99","authentication":"apiKey","apiKey":"8c057558ba454fa7","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"smartfarm","applicationId":"","deviceType":"sf","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":60,"wires":[["25b89b8157a9c036","2bafc3f0ea95230b","5b2af0bd10c66d92","92dcf1467d2e5087","f9b7bb30ec4f8c1f","44025f973bba9aeb"]]},{"id":"25b89b8157a9c036","type":"debug","z":"a0f4487eef764d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"2bafc3f0ea95230b","type":"function","z":"a0f4487eef764d99","name":"Temperature Data","func":"msg.payload=msg.payload.Temperature\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["27287ecf677be36a"]]},{"id":"27287ecf677be36a","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"ffe59448957f8fe3","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":140,"wires":[]},{"id":"b870cafb3c4daba5","type":"http in","z":"a0f4487eef764d99","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":150,"y":380,"wires":[["662fc0e7adb5e02b"]]},{"id":"39b3f912315f6b73","type":"http response","z":"a0f4487eef764d99","name":"","statusCode":"","headers":{},"x":550,"y":380,"wires":[]},{"id":"662fc0e7adb5e02b","type":"function","z":"a0f4487eef764d99","name":"","func":"msg.payload={\"temp\":global.get(\"t\"),\"humid\":global.get(\"h\"),\"moist\":global.get(\"m\"),\"Ph\":global.get(\"ph\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":380,"wires":[["39b3f912315f6b73"]]},{"id":"5b2af0bd10c66d92","type":"function","z":"a0f4487eef764d99","name":"Moisture Data","func":"msg.payload=msg.payload.Moisture\nglobal.set(\"m\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["2efcf689e5d59830"]]},{"id":"2efcf689e5d59830","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"03d072160d56f0af","order":2,"width":0,"height":0,"gtype":"gage","title":"Moisture Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":200,"wires":[]},{"id":"92dcf1467d2e5087","type":"function","z":"a0f4487eef764d99","name":"Humdity Data","func":"msg.payload=msg.payload.Humidity\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":260,"wires":[["121462e4ba64073c"]]},{"id":"121462e4ba64073c","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"f3979768e9897c5a","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":260,"wires":[]},{"id":"f9b7bb30ec4f8c1f","type":"function","z":"a0f4487eef764d99","name":"PH","func":"msg.payload=msg.payload.Ph\nglobal.set(\"ph\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":320,"wires":[["39f919d7881e83a9"]]},{"id":"39f919d7881e83a9","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"7d5ea984f4389bd0","order":0,"width":0,"height":0,"gtype":"gage","title":"Ph gauge","label":"Unit ","format":"{{value}}","min":0,"max":10,"colors":["#15f415","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":320,"wires":[]},{"id":"44025f973bba9aeb","type":"cloudant out","z":"a0f4487eef764d99","name":"","cloudant":"5e3edced266704bc","database":"database","service":"_ext_","payonly":false,"operation":"insert","x":340,"y":40,"wires":[]},{"id":"8c057558ba454fa7","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ffe59448957f8fe3","type":"ui_group","name":"Temperature Data","tab":"3cb1592f77260e5c","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"03d072160d56f0af","type":"ui_group","name":"Moisture Data","tab":"3cb1592f77260e5c","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f3979768e9897c5a","type":"ui_group","name":"Humidity Data","tab":"3cb1592f77260e5c","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7d5ea984f4389bd0","type":"ui_group","name":"Ph Data","tab":"3cb1592f77260e5c","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5e3edced266704bc","type":"cloudant","host":"https://apikey-v2-3466qwz0l7dm7qcchve9yze7709ts0hqy91uk4lsq2ws:12298eab0a2b13e80b0a3392503dc80b@1e1b9075-238e-4eaa-ba7d-23479b17d91a-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"3cb1592f77260e5c","type":"ui_tab","name":"Simulator Data","icon":"dashboard","disabled":false,"hidden":false}]